CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
cockle-config.json
cockle_wasm_env/
node_modules/
package-lock.json
.jupyterlite.doit.db

cockle/
lite-deploy/package.json
recipe/em-forge-recipes/
serve/dist/*/
test/assets/*/
test/lib/
