name: Test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

defaults:
  run:
    shell: bash -leo pipefail {0}

jobs:
  test:
    name: 'Build and test'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Create micromamba environment
        uses: mamba-org/setup-micromamba@main
        with:
          environment-file: dev-environment.yml
          cache-environment: true

      - name: Build
        run: |
          meson setup build
          cd build
          meson compile

      - name: Smoke test
        working-directory: build
        run: |
          ls -l git2cpp
          ./git2cpp -v

      - name: Run tests
        run: |
          pytest -v
